<div class="jumbotron">
    <div class="container">
        <h1>Brastlewark</h1>
        <p>Find who you want! Just look for a name, color, gender or profession. The people of Brastlewark town are here!</p>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form ng-submit="getKeyword()">
                    <div class="input-group inputSearch">
                        <input ng-model="keyword" type="text" class="input-lg form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button ng-click="getKeyword()" class="input-lg btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="jumbotron">
    </div>
</div>