/* FONTS */
/* COLORS */
/* IMAGE BACKGROUND */
.inline {
  display: inline; }

.inline-left {
  display: inline; }

/* SEARCHER PAGE STYLES */
.jumbotron {
  background-color: white;
  min-height: 700px;
  margin-bottom: 0;
  padding-bottom: 0; }
  .jumbotron h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #535f7e;
    font-size: 80px; }
  .jumbotron p {
    text-align: center; }
  .jumbotron .jumbotron {
    margin-top: 40px;
    background-image: url("../img/smartcity.png");
    background-size: cover;
    background-position: center; }

/* CITIZENS RESULT STYLES */
nav.navbar.navbar-default {
  margin: 0px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: #535f7e; }
  nav.navbar.navbar-default a.navbar-brand {
    color: #FFF;
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }

.citizens div.filters {
  padding-top: 15px;
  min-height: 100px;
  background-color: #f8f8f8; }
  .citizens div.filters h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #927e76; }
  .citizens div.filters form {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #927e76; }
    .citizens div.filters form select {
      margin-right: 20px; }

.citizens a {
  text-align: center; }
  .citizens a .thumbnail {
    border: none;
    padding: 40px; }
    .citizens a .thumbnail .imageContainer {
      margin: 0 auto;
      margin-bottom: 20px;
      min-height: 250px;
      min-width: 250px;
      max-height: 250px;
      max-width: 250px; }
      .citizens a .thumbnail .imageContainer img {
        min-height: 250px;
        min-width: 250px;
        max-height: 250px;
        max-width: 250px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        /*             margin-top: auto; */ }
    .citizens a .thumbnail p {
      color: #000;
      margin: auto;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 400; }
    .citizens a .thumbnail p:hover {
      background-color: rgba(83, 95, 126, 0.75);
      border-radius: 0px;
      color: #FFF; }

.citizens a:hover {
  text-decoration: none; }

/* USERS CARD STYLES */
.detailsCitizen {
  background-image: url("../img/smartcity.png");
  background-size: cover;
  background-position: center;
  min-height: 700px; }
  .detailsCitizen div.panel {
    margin-top: 40px;
    border-radius: 0px; }
  .detailsCitizen div.panel-heading {
    background-color: #535f7e;
    color: #FFF;
    border-radius: 0px; }
    .detailsCitizen div.panel-heading h3 {
      letter-spacing: 3px;
      font-family: "Roboto", sans-serif;
      font-weight: 400; }
  .detailsCitizen div.panel-body {
    border-radius: 0px; }
    .detailsCitizen div.panel-body div.imageContainer {
      margin: 0 auto;
      margin-bottom: 20px;
      min-height: 250px;
      min-width: 250px;
      max-height: 250px;
      max-width: 250px; }
      .detailsCitizen div.panel-body div.imageContainer img {
        min-height: 250px;
        min-width: 250px;
        max-height: 250px;
        max-width: 250px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        /*             margin-top: auto; */ }
    .detailsCitizen div.panel-body h6 {
      padding-left: 40px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 800;
      font-size: 17px; }
    .detailsCitizen div.panel-body h6.h6-right {
      padding-left: 40px; }
    .detailsCitizen div.panel-body p {
      padding-left: 60px;
      padding-bottom: 30px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 17px; }
    .detailsCitizen div.panel-body ul {
      list-style: none;
      padding-left: 40px; }
      .detailsCitizen div.panel-body ul li {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 17px;
        padding-left: 20px; }
