.inline {
  display: inline; }

.jumbotron {
  background-color: white;
  height: 800px; }
  .jumbotron h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #535f7e;
    font-size: 80px; }
  .jumbotron p {
    text-align: center; }
  .jumbotron .jumbotron {
    margin-top: 40px;
    background-image: url("../img/smartcity.png");
    background-size: cover;
    background-position: center; }

/* CITIZENS */
nav.navbar.navbar-default {
  margin: 0px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: #535f7e; }
  nav.navbar.navbar-default a.navbar-brand {
    color: #FFF;
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }

.citizens div.filters {
  padding-top: 15px;
  padding-left: 15px;
  min-height: 100px;
  background-color: #f8f8f8; }
  .citizens div.filters h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #927e76; }
  .citizens div.filters form {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #927e76; }
    .citizens div.filters form select {
      margin-right: 20px; }

.citizens a {
  text-align: center; }
  .citizens a .thumbnail {
    border: none;
    padding: 40px; }
    .citizens a .thumbnail .imageContainer {
      margin: 0 auto;
      margin-bottom: 20px;
      min-height: 250px;
      min-width: 250px;
      max-height: 250px;
      max-width: 250px; }
      .citizens a .thumbnail .imageContainer img {
        min-height: 250px;
        min-width: 250px;
        max-height: 250px;
        max-width: 250px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        /*             margin-top: auto; */ }
    .citizens a .thumbnail p {
      color: #000;
      margin: auto;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 400; }
    .citizens a .thumbnail p:hover {
      background-color: rgba(83, 95, 126, 0.75);
      border-radius: 0px;
      color: #FFF; }

.citizens a:hover {
  text-decoration: none; }

.detailsCitizen {
  margin-top: 40px; }
  .detailsCitizen div.panel {
    border-radius: 0px; }
  .detailsCitizen div.panel-heading {
    background-color: #535f7e;
    color: #FFF;
    border-radius: 0px; }
  .detailsCitizen div.panel-body {
    border-radius: 0px; }
