/* FONTS */
$roboto: 'Roboto', sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* COLORS */
$blue: #535f7e;
$blueRGBA: 	rgba(83,95,126,0.75);
$yellow: #ffcc80;
$yellowRGBA: rgba(255,204,128,0.5);
$black : #000;
$white: #FFF;
$gray-light: #f8f8f8;
$gray-dark: #927e76;

/* IMAGE BACKGROUND */
$city: url("../img/smartcity.png");