@import '_common';
@import '_variables';

.jumbotron {
    background-color: white;
    height: 800px;
    h1 {
        font-family: $roboto;
        font-weight: 900;
        text-align: center;
        color: $blue;
        font-size: 80px;
    }
    p {
        text-align: center;
    }
    .jumbotron {
        margin-top: 40px;
        background-image: url("../img/smartcity.png");
        background-size: cover;
        background-position: center;
    }
}



/* CITIZENS */

nav.navbar.navbar-default {
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: $blue;
    a.navbar-brand {
        color: #FFF;
        letter-spacing: 3px;
        font-family: $roboto;
        font-weight: 300;
    }
}

.citizens {
    div.filters {
    	padding-top: 15px;
    	padding-left: 15px;
    	min-height: 100px;
        background-color: $blue;
        h4 {
        	margin-top: 0px;
            font-family: $roboto;
            font-weight: 300;
            font-size: 17px;
            color: #FFF;
        }
    }
    a {
        text-align: center;
        .thumbnail {
            border: none;
            padding: 30px; // box-shadow: 10px 10px 5px 0px $blueRGBA;
            // position: relative;
            .imageContainer {
                margin: 0 auto;
                margin-bottom: 20px; // border-radius: 50%;
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                max-width: 250px;
                img {
                    min-height: 250px;
                    min-width: 250px;
                    max-height: 250px;
                    max-width: 250px;
                    background-size: cover;
                    background-position: top center;
                    border-radius: 50%;
                    /*             margin-top: auto; */
                }
            }
            p {
                color: #000;
                margin: auto;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 20px;
                font-weight: 200px;
            }
            p:hover {
                background-color: $blueRGBA;
                border-radius: 3px;
                color: #FFF;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
}