@import '_common';
@import '_variables';


.inline {
    display: inline;
}



/* SEARCHER PAGE STYLES */

.jumbotron {
    background-color: white;
    min-height: 700px;
    margin-bottom: 0;
    padding-bottom: 0;
    h1 {
        font-family: $roboto;
        font-weight: 900;
        text-align: center;
        color: $blue;
        font-size: 69px;
    }
    p {
        text-align: center;
    }
    .jumbotron {
        margin-top: 40px;
        background-image: $city;
        background-size: cover;
        background-position: center;
    }
}





/* CITIZENS RESULT STYLES */

nav.navbar.navbar-default {
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid $white;
    background-color: $blue;
    a.navbar-brand {
        color: $white;
        letter-spacing: 3px;
        font-family: $roboto;
        font-weight: 300;
    }
}

.citizens {
    div.filters {
        padding-top: 15px;
        padding-bottom: 10px;
        min-height: 100px;
        background-color: $gray-light;
        h4 {
            margin-top: 0px;
            margin-bottom: 10px;
            margin-left: 15px;
            font-family: $roboto;
            font-weight: 300;
            font-size: 17px;
            color: $gray-dark;
        }
        form {
            margin-left: 20px;
            font-family: $roboto;
            font-weight: 300;
            font-size: 14px;
            color: $gray-dark;
            div.inline-block {
                margin-left: 10px;
                display: inline-block;
            }
        }
    }
    a {
        text-align: center;
        .thumbnail {
            border: none;
            padding: 40px; // box-shadow: 10px 10px 5px 0px $blueRGBA;
            // position: relative;
            .imageContainer {
                margin: 0 auto;
                margin-bottom: 20px; // border-radius: 50%;
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                max-width: 250px;
                img {
                    min-height: 250px;
                    min-width: 250px;
                    max-height: 250px;
                    max-width: 250px;
                    background-size: cover;
                    background-position: top center;
                    border-radius: 50%;
                    /*             margin-top: auto; */
                }
            }
            p {
                color: $black;
                margin: auto;
                font-family: $helvetica;
                font-size: 20px;
                font-weight: 400;
            }
            p:hover {
                background-color: $blueRGBA;
                border-radius: 0px;
                color: $white;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
}



/* USERS CARD STYLES */

.detailsCitizen {
    background-image: $city;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    div.panel {
        margin-top: 40px;
        border-radius: 0px;
    }
    div.panel-heading {
        background-color: $blue;
        color: $white;
        border-radius: 0px;
        h3 {
            letter-spacing: 3px;
            font-family: $roboto;
            font-weight: 400;
        }
    }
    div.panel-body {
        border-radius: 0px;
        div.imageContainer {
            margin: 0 auto;
            margin-bottom: 20px; // border-radius: 50%;
            min-height: 250px;
            min-width: 250px;
            max-height: 250px;
            max-width: 250px;
            img {
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                max-width: 250px;
                background-size: cover;
                background-position: top center;
                border-radius: 50%;
                /*             margin-top: auto; */
            }
        }
        h6 {
            padding-left: 40px;
            font-family: $helvetica;
            font-weight: 800;
            font-size: 17px;
        }
        h6.h6-right {
            padding-left: 40px;
        }
        p {
            padding-left: 60px;
            padding-bottom: 30px;
            font-family: $helvetica;
            font-weight: 400;
            font-size: 17px;
        }
        ul {
            list-style: none;
            padding-left: 40px;
            li {
                font-family: $helvetica;
                font-weight: 400;
                font-size: 17px;
                padding-left: 20px;
            }
        }
    }
}