@import '_common';
@import '_variables';

.jumbotron {
	background-color: white;
	height: 800px;
	h1 {
		font-family: $font-title;
		text-align: center;
		color: $blue;
		font-size: 80px;
	}
	p {
		text-align: center;
	}
	.jumbotron {
		margin-top: 40px;
		background-image: url("../img/smartcity.png");
		background-size: cover;
		background-position: center;
	}
}

/* CITIZENS */
nav.navbar.navbar-default {
	margin: 0px;
	border-radius: 0px;
}

.container.citizens {
	margin-top: 40px;
}

.thumbnail {
	border-radius: 0px;
	box-shadow: 10px 10px 5px 0px $blueRGBA;
    // position: relative;
    img {
        height: 300px;
        background-size: cover;
        background-position: top center;
        border: 0;
    }
}

.imageContainer {
    width: 100%;
    margin-bottom: 20px;
}
